body{
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 0;
    font-weight: 500;

}
header{
    background-color: rgb(70, 187, 34);
    box-shadow: 0 2px 4px rgba(45, 11, 11, 0.1);
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
}
nav {
    background-color: rgb(45, 143, 137);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
}

section{
    background-color: rgb(245, 219, 149);;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 10px;
    transition: box-shadow 0.3s ease;
}
section:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img{
    width: 30%;
    height: 450px; 
    margin: 30px;      
    border-radius: 10px;
    display: flexbox;
    
}
form{
    max-width: 650px;
    margin: 10px;
}
form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;;
}
h2{
    margin: 0 40px;
    color: darkred;
    text-decoration: underline;
}
p{
    margin: 10px;
    font-weight: 600;
}
*caption{
    display: flex;
    align-items: center;
}
h3{
    margin: 10px;
    color: darkblue;
    text-decoration: underline;
}




