body{
    color: black;
    margin: 10px;
    padding: 0;

}
header{
    background-color: rgb(157, 210, 11);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    justify-content: space-between;
}
nav {
    background-color: rgb(2, 201, 188);
    text-align: center;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
}
nav a:hover{
    color: rgb(13, 253, 0);
    text-decoration: wavy;
}
section{
    background-color: rgb(245, 219, 149);;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 10px;
    transition: box-shadow 0.3s ease;
}
section:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img{
    width: 30%;
    height: auto; 
    margin: 20px;      
    border-radius: 10px;
}
form{
    max-width: 650px;
    margin: 10px;
}
form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;;
}
h2{
    margin: 0 40px;
    color: darkred;
    text-decoration: underline;
}
p{
    margin: 10px;
    font-weight: 600;
}

